<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title: "About"}) %>
    <body>
        <%- include('header') %>
        <center>
            <p>Thanks to <i class="gold">Ryozuki</i> who made this website</p>
            <a class="gold" href="https://github.com/unique-clan/unique-web">
                <img
                    src="../public/img/github-logo.png"
                    alt="GitHub logo"
                    height="50"
                />
            </a>
        </center>
    </body>
</html>
