<header>
    <h1 class="title gold"><a href="/">Nodu</a></h1>
    <div class="flex-container">
        <a class="flex-item gold" href="/memebers">MEMEBERS OF THE CLAN</a>
        <a class="flex-item gold" href="/apply">APPLY TO JOIN THE CLAN</a>
        <a class="flex-item gold" href="/about">ABOUT THE WEBSITE</a>
    </div>
</header>
