<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title: "Home"}) %>
    <body>
        <%- include('header') %>
        <p>
            Boujoir, ceci est mon paragraphe dans lequel je fais comprendre à
            l'utilisateur qu'il est sur la page principale de mon site web
        </p>
    </body>
</html>
